/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Body */
body {
    background-color: #f5f5f5;
    color: #333;
}

/* Header */
header {
    background-color: #002C9A;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    text-align: center;
}

.landing-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-page .logo {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}

.landing-page nav {
    display: flex;
    gap: 20px;
}

.landing-page nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.landing-page nav a:hover {
    color: #ffcb05;
}

/* Main Content */
.feature-page {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

.feature-page h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: #002C9A;
}

article {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

article h1 {
    font-size: 24px;
    color: #333;
}

article h3 {
    font-size: 18px;
    color: #666;
    margin: 15px 0;
}

article p {
    font-size: 16px;
    color: #777;
}

article img {
    width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
}

/* Button */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.learn-more-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: #007BFF;
    text-decoration: none;
    border: 2px solid #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.learn-more-button:hover {
    background-color: #007BFF;
    color: white;
}

/* Footer */
.footer {
    background-color: #3a4f81;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-nav, .footer-social {
    list-style: none;
    display: flex;
    gap: 20px;
}

.footer-nav a, .footer-social a {
    color: #fff;
    text-decoration: none;
}

.footer-nav a:hover, .footer-social a:hover {
    color: #ffcb05;
}

.footer-social i {
    margin-right: 5px;
}

.copyright {
    margin-top: 20px;
    font-size: 14px;
}
