* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}

.landing-page {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.landing-page .logo {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

.landing-page nav {
    display: flex;
    gap: 20px;
}

.landing-page a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
    padding: 5px 10px;
}

.landing-page a:hover {
    color: #fff;
}

.landing-page a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #a7a7a7;
    transition: width 0.4s ease;
}

.navbar a:hover {
    color: #a7a7a7;
}

.landing-page a:hover::after {
    width: 100%;
}

.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}

.text-content h1 {
    font-size: 80px;
    text-transform: uppercase;
}

.text-content p {
    width: 75%;
    margin: auto;
    line-height: 1.9;
}

.feature-link {
    position: relative;
    display: inline-block;
    margin: 20px;
}

.feature-link img {
    display: block;
    width: 250px; /* Adjust width as needed */
    height: 200px; /* Maintain aspect ratio */
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.feature-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 18px;
}

.feature-link:hover .feature-text {
    opacity: 1;
}

.feature-link:hover img {
    transform: scale(1.1);
}

.text-content a:hover {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

#background-video {
    position: fixed; /* Changed from absolute to fixed to cover the whole page */
    top: 0;
    left: 0;
    width: 100vw; /* Set width to 100% of the viewport width */
    height: 100vh; /* Set height to 100% of the viewport height */
    object-fit: cover; /* Cover the entire area without losing aspect ratio */
    z-index: -1; /* Keep it behind other content */
}

footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .navbar nav {
        flex-direction: column;
        gap: 10px;
    }

    .text-content h1 {
        font-size: 45px;
    }

    .feature-link img {
        width: 150px;
    }
}

@media (max-width: 500px) {
    .navbar .logo {
        font-size: 24px;
    }

    .navbar a {
        font-size: 16px;
    }

    .text-content h1 {
        font-size: 28px;
    }

    .text-content p {
        width: 100%;
        font-size: 14px;
    }

    .text-content a {
        padding: 5px 15px;
        font-size: 14px;
    }

    .feature-link img {
        width: 100px;
    }

    .feature-text {
        font-size: 14px;
    }
}

.footer {
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-nav, .footer-social {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.footer-nav li, .footer-social li {
    margin-right: 20px;
}

.footer-nav a, .footer-social a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.footer-nav a:hover, .footer-social a:hover {
    color: #ffcb05;
}

.footer-social i {
    margin-right: 5px;
}

.footer-social a {
    display: flex;
    align-items: center;
}

.footer-social a:hover i {
    color: #ffcb05;
}

.copyright {
    text-align: center;
    margin-top: 20px;
}