*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #f0f0f0;
    color: #333;
}

/* Header styles */
header {
    background-color: #000000;
    padding: 40px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.landing-page {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.landing-page .logo {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin-left: -40px;
}

.landing-page nav {
    display: flex;
    gap: 6px;
    margin-left: -10px;
}

.landing-page nav a {
    text-decoration: none;
    font-weight: normal;
    color: #fff;
    font-size: 18px;
    position: relative;
    padding: 5px 10px;
}

.landing-page nav a.feature {
    margin-left: -10px;
}

.landing-page a:hover {
    color: #fff;
}

.landing-page a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #a7a7a7;
    transition: width 0.4s ease;
}

.landing-page a:hover::after {
    width: 100%;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    margin: 0 10px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #a7a7a7;
}

/* Main content styles */
main {
    padding: 20px;
}

section {
    margin: 10px 0;
}

article {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center;
    width: 80%;
    max-width: 800px;
}

article:hover {
    transform: translateY(-10px);
}

article img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
    width: 80%;
    height: auto;
}

article p {
    margin-top: 20px;
}

.learn-more-button:hover {
    background-color: #ffffff;
}

.learn-more-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.learn-more-button:hover {
    background-color: #000000;
    color: white;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Add space between buttons */
    margin-top: 10px; /* Adjust as needed */
}

.learn-more-button, .buy-now-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: transparent; /* Remove background color */
    color: #007BFF; /* Set text color to match the border */
    text-decoration: none;
    border: 2px solid #007BFF; /* Add border */
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for color */
}

.learn-more-button:hover, .buy-now-button:hover {
    background-color: #007BFF; /* Add background color on hover */
    color: white; /* Change text color on hover */
}

.feature-page h2 {
    font-size: 2.5em;
    text-align: center;
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px 5px rgb(221, 107, 107);
}

.feature-page article h1 {
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */
}

/* Footer styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-nav, .footer-social {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.footer-nav li, .footer-social li {
    margin-right: 20px;
}

.footer-nav a, .footer-social a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.footer-nav a:hover, .footer-social a:hover {
    color: #a7a7a7;
}

.footer-social i {
    margin-right: 5px;
}

.footer-social a {
    display: flex;
    align-items: center;
}

.footer-social a:hover i {
    color: #a7a7a7;
}

.copyright {
    text-align: center;
    margin-top: 20px;
}